# 数据库配置 (Supabase 连接池 - Transaction 模式用于 Prisma Client)
# DATABASE_URL="postgresql://postgres.项目ID:密码@aws-0-地区.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DATABASE_URL="postgresql://postgres.dhsocjmahqttucdpuoot:NUrjnbhQMtMrlM4r@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 直接连接 (Session 模式用于 Prisma Migrate)
# DIRECT_URL="postgresql://postgres:密码@db.项目ID.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres.dhsocjmahqttucdpuoot:NUrjnbhQMtMrlM4r@aws-1-us-east-1.pooler.supabase.com:5432/postgres"
# NextAuth 配置
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# JWT 配置
JWT_SECRET="your-jwt-secret-here"

# 其他配置
NODE_ENV="development"
